body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 50pt;
}

header {
    text-align: center;
}

h2 {
  text-align: center;
  padding-top: 20pt;
  padding-bottom: 10pt;
}

#input-container {
  text-align: center;
  padding-top: 20pt;
  padding-bottom: 20pt;
}

.left {
  display: flex;
  justify-content: flex-start;
}
